body
{
color:rgb(0, 255, 34);
text-align: center;
front-family: "Arial";
}


#cabecera
{
    background: darkblue;
    color: #ffff
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 50px 0px (0,0,0,0,5)
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ff0
    margin: 0 auto;
}

#cabecera #tagline

{
padding: 0 0 0 1em;
font-weight: normal;
front-size: 0.8em; 
}

#container

{

font-size: 20px;

}