body
{
background: black;
   color: yellow;
text-align: center;
font-family: Arial, Helvetica, sans-serif
font-size: 16px;
margin: 15;
padding: 0;

}
#cabecera
{
    background:black;
   box-shadow: 0px 2px 20px 0px rgb(196, 177, 8);
    color:white;
    border: 5px solid black;
    font-weight: bold; 
    margin: 0;
    padding: 0.5em; 
}

    #cabecera #logo
{

    width: 50px;
    vertical-align: middle;

}
#cabecera #tagline

{
padding: 0 0 0 1em;
font-weight: normal;
font-size: 0.8em; 
}

#container

{

font-size: 23px;

}

    #footer
{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 2px 20px 0px rgb(196, 177, 8);
    border: 4px;
    background-size: 3em;
    text-align: center;
    text-decoration:grey;
    font-size: 1.5em;
    font-style: initial;
    
}